body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-image: url("https://raw.githubusercontent.com/EladAchi28/stopwatch/main/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.stopwatch-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    max-width: 800px;
    padding: 0 50px;
}

.stopwatch {
    background-color: #13171a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.method-title {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.time {
    font-size: 24px;
    color: #f42b5b;
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #f42b5b;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d81e44;
}

/* Add these rules to your existing CSS file */
.improvement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.improvement-title {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.percentage {
  font-size: 24px;
  color: #f42b5b;
}
