body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-image: url("https://drive.google.com/uc?id=1PvN1e043YKT7XBtyixKbZrQ2NaJpObQn");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.stopwatch {
    background-color: #13171a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.method-title {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.time {
    font-size: 24px;
    color: #f42b5b;
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #f42b5b;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d81e44;
}
