body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url('https://raw.githubusercontent.com/EladAchi28/stopwatch/main/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 0 50px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method-title {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.time {
  font-size: 24px;
  color: #f42b5b;
  background-color: #13171a;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.button {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #f42b5b;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.start-stop {
  margin-bottom: 5px;
}

.improvement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.improvement-title {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.percentage {
  font-size: 24px;
